body {
  scrollbar-width: none;
}
* {
  box-sizing: border-box;
}
body,
html,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  /* font-family: "Roboto", sans-serif; */
}

.dFlex {
  display: flex;
}
.dFlex-sBetween {
  display: flex;
  justify-content: space-between;
}
.dFlex-sBetween-aCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dFlex-fEnd {
  display: flex;
  justify-content: flex-end;
}
